In [1]:
import numpy as np
import pandas as pd
import statistics as st
import matplotlib.pyplot as plt     ## Importing important library
import scipy.stats as sc
import seaborn as sb
from scipy.stats import skew
from scipy.stats import kurtosis
import mysql.connector as sql
from sqlalchemy import create_engine

In [2]:
pip install pymysql

Requirement already satisfied: pymysql in d:\d\lib\site-packages (1.1.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
df=pd.read_csv('telecom_churn.csv')
df

,customer_id,telecom_partner,gender,age,state,city,pincode,date_of_registration,num_dependents,estimated_salary,calls_made,sms_sent,data_used,churn
0,1,Reliance Jio,F,25,Karnataka,Kolkata,755597,1/1/2020,4,124962,44,45,-361,1
1,2,Reliance Jio,F,55,Mizoram,Mumbai,125926,1/1/2020,2,130556,62,39,5973,0
2,3,Vodafone,F,57,Delhi,Delhi,423976,1/1/2020,0,148828,49,24,193,1
3,4,BSNL,M,46,Tamil Nadu,Kolkata,522841,1/1/2020,1,38722,80,25,9377,1
4,5,BSNL,F,26,Delhi,Delhi,740247,1/1/2020,2,55098,78,15,1393,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243548,243549,Airtel,F,28,Mizoram,Kolkata,110295,5/3/2023,3,130580,28,9,4102,0
243549,243550,Reliance Jio,F,52,Assam,Kolkata,713481,5/3/2023,0,82393,80,45,7521,0
243550,243551,Reliance Jio,M,59,Tripura,Kolkata,520218,5/3/2023,4,51298,26,4,6547,0
243551,243552,BSNL,M,49,Madhya Pradesh,Kolkata,387744,5/3/2023,2,83981,80,15,1125,0
243552,243553,BSNL,F,37,Telangana,Hyderabad,139086,5/4/2023,0,144297,61,7,3384,0

# TRAI(The Telecom Regulatory Authority) Wants to Identify the Key Factors who leads customers to churn , TRAI want to know which company has the highest churn rate.  so that TRAI can give new strategies to company to reduce churn rate.

1. Which telecom partner has the highest churn rate??
2. Which telecom partner has the highest number of customers?
3. What is the average age of customers who have churned?
4. Which gender is more likely to churn??
5. Which num_depends customer are more likely to churn?
6. what is the estimated salray range where the highest churn rate lies?
7. In which range the call_made lies for more churn?
8.In which range the data_used lies for more churn?
9.In which range the data_used lies for more churn?
10. Which state has the Highest churn?

# Data Cleaning

In [ ]:
df.isnull().sum()   ## checking missing values

In [ ]:
df.info()

In [ ]:
df.shape

In [4]:
df['date_of_registration'] = pd.to_datetime(df['date_of_registration'])

In [ ]:
df.describe()

In [ ]:
df.columns

In [ ]:
df.drop_duplicates()  ## Dropping duplicates

In [10]:
engine=create_engine("mysql+pymysql://root:simmi@localhost/new")
df.to_sql("churn",engine,index=False)

ValueError: Table 'churn' already exists.

In [ ]:
cat_data=df.select_dtypes(include='object')
num_data=df.select_dtypes(exclude='object')
num_data.columns

# DATA ANALYSIS

# LEVEL 1 ANALYSIS â€“UNIVARATE ANALYSIS

1.Which telecom partner has the highest number of customers?

In [ ]:
tele_churn_rate = df.groupby('telecom_partner')['churn'].mean()
tele_churn_rate

In [ ]:
df.groupby('telecom_partner')['churn'].mean().plot(kind='bar',color='g')
plt.xlabel('Telecom Partner')
plt.ylabel('Churn Rate')
plt.title('Churn Rate by Telecom Partner')
plt.show()

## Here We can see that airtel has the nearly hgihest Churn rate  ##

Which telecom partner has the highest number of customers?

In [ ]:
tele_cust_each_partner=df['telecom_partner'].value_counts()
tele_cust_each_partner

In [ ]:
tele_cust_each_partner=df['telecom_partner'].value_counts().plot.pie(autopct=' % .2f%%',explode=(0.15,0.05,0.05,0.05))

## Here we can see that higher number of customer in Reliance Jio

5. What is the average age of customers who have churned?

In [ ]:
churned_cust = df[df['churn'] == 1]

In [ ]:
avg_churn_cust = churned_cust['age'].mean()
avg_churn_cust

## Here we can see that the avg age is around 46   ##

In [ ]:
plt.hist(churned_cust['age'])
plt.xlabel('Age')
plt.ylabel('Number of customers')
plt.title('Age distribution of churned customers')
plt.show()

##  Here we can see that more number of customers lies in all age expect around 35 and 45.

# LEVEL 2 ANALYSIS â€“ BIVARATE ANALYSIS

6.Which gender is more likely to churn?

In [ ]:
sb.countplot(x='gender',hue='churn',data=df)
plt.xlabel('Number of churn based on gender')
plt.show()

## Here we can see that more number of people are who churned are male.

 Which num_depends customer are more likely to churn?

In [ ]:
sb.countplot(x='num_dependents',hue='churn',data=df)
plt.xlabel('num_dependents')
plt.show()

## here we can see that num_depends 2 and 3 have more churn in comparision to others.

 what is the estimated salray range where the highest churn rate lies?

In [ ]:
sb.histplot(x=df['estimated_salary'],hue=df['churn'])

## Here we can see that there are similar range of estimated salary who have churned from the telecom company.

Which state has the Highest churn

In [ ]:
plt.figure(figsize=(20,20))
sb.countplot(y='state',hue='churn',data=df,order = df['state'].value_counts().index)
plt.show()

## Here we can see that Most Churn likely to lies in Uttrakhand,Arunachal Pradesh,Jharkhand,Bihar and Rajsthan State.

In which range the data_used lies for the churn

In [ ]:
sb.histplot(x=df['data_used'],hue=df['churn'])
plt.xlabel('Number of churn based on data_used')
plt.show()


## Looking at the graph we can say that customers who are using data between 8000 to 9000 nearly have churned.

In which range the call_made lies for the churn?

In [ ]:
sb.histplot(x=df['calls_made'],hue=df['churn'])
plt.xlabel('Number of churn based on calls')
plt.show()

## Looking at the graph we can say that customers who have class made 70 to 90 aorund have more churn rate.

In [ ]:
sb.histplot(x=df['sms_sent'],hue=df['churn'])
plt.xlabel('Number of churn based on SMS')
plt.show()


## Looking at the graph we can say that customers who have sent the messages more then 45 around have more churn rate.

# LEVEL 3 ANALYSIS -- MULTIVARATE ANALYSIS

Which factors are most correlated with churn?

In [ ]:
num_data.columns

In [ ]:
x=df.filter(['customer_id', 'age', 'pincode',
       'num_dependents', 'estimated_salary', 'calls_made', 'sms_sent',
       'data_used(mb)', 'churn'])

In [ ]:
cor=x.corr()

In [ ]:
sb.heatmap(cor,annot= True ,fmt=".1f")

## Here we can see that There is no such corealtion of each factor for the churn

In [ ]:
sb.pairplot(num_data,hue='churn',vars=['data_used(mb)','calls_made','sms_sent'],kind='reg',diag_kind='hist')